.topbar {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: #1877f2;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}
.topbarLeft {
  flex: 3;
}
.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}
.topbarCenter {
  flex: 5;
}
.searchBar {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}
.searchBar > .MuiSvgIcon-root {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}
.searchBar > input {
  border: none;
  width: 70%;
}
.searchBar > input:focus {
  outline: none;
}
.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.topbarLink {
  margin-left: 10px;
  font-size: 14px;
  cursor: pointer;
}
.topbarIcons {
  display: flex;
  align-items: center;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
}
.avatar {
  cursor: pointer;
}
